<centre> <h1>Good tide</h1> </centre>

<%= link_to 'My Blog', controller: 'articles' %>

<div class="ButtonBar">
<div class="ButtonBarBlock">
<span class="ButtonBarItem"><%= link_to 'New article', new_article_path %></span>
<span class="ButtonBarItem"><%= link_to 'Sign up', new_user_path %></span>
<span class="ButtonBarItem"><%= link_to 'Show Users', users_path %></span>
<span class="ButtonBarItem"><%= link_to 'Show Articles', articles_path %></span>
</div>
</div>
