<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
   
  <h1>Welcome</h1>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
